<div [ngSwitch]="lib" >
    <p *ngSwitchCase="'Mandarine'"> 
            <br/> <br/> <br/>

                            <img src="../assets/mandarine.jpg"  style="width:350px;height:350px;">
                            SO'BIO Huile essentielle mandarine - Anti-stress-, Bio, 15ml <br/>
                            {{prix}} DT TTC  <br/>
                            Essence aromatique fruitée et sucrée , l'huile essentielle de mandarine biologique  <br/> 
                            est particulièrement délicate. Ses Vertus calmantes et relaxantes permettent un  <br/>
                             usage sur l'oreille ou en diffusion dans une chambre. Elle peut créer un parfum  <br/>
                             d'ambiance agréable et parfumer le linge 
                          <li>Calmante</li>
                          <li>Relaxante</li>
                          <li>Anti stress</li>


    </p>


    <p *ngSwitchCase="'Lavande'">             <br/> <br/> <br/>
 
            <img src="../assets/lavande.jpg"  style="width:250px;height:250px;">
            SO'BIO Huile essentielle Lavande -Apaisante-, Bio, 15ml <br/>
            {{prix}} DT TTC  <br/>
                <li>Décontractante nerveuse et musculaire</li>         
                <li>Apaisante</li>  
                <li>Régénérate et rééquilibrante cutanée</li>   
        
        </p>
    <p *ngSwitchCase="'Orange'">
            <br/> <br/> <br/>

            <img src="../assets/orange.jpg"  style="width:250px;height:250px;">
            SO'BIO Huile essentielle orange -Relaxante-, Bio, 15ml <br/>
            {{prix}} DT TTC  <br/>
            L'huile essentielle d'orange douce est réputée pour ses vertus calmantes et  <br/>
            reposantes .Son parfum doux et fruité se diffuse en toute légèreté et assainit  <br/>
            l'atmosphère.
                    <li>relaxation</li>
                    <li>aromatique</li>
                    <li>Anti-stress</li>
                
    </p>
    
    <p *ngSwitchCase="'Cedre'">
            <br/> <br/> <br/>
            <img src="../assets/cèdre.jpg"  style="width:250px;height:250px;">
            SO'BIO Huile essentielle Cèdre -Relaxante-, Bio, 15ml <br/>
            {{prix}} DT TTC   <br/>
            Cette huile essentielle de cèdre atlas biologique créé une atmosphère favorisant la relaxation 
    </p>


    <p *ngSwitchCase="'Citronnelle'">            <br/> <br/> <br/>

            <img src="../assets/citronelle.jpg"  style="width:250px;height:250px;">
            SO'BIO Huile essentielle citronelle -Soirées-tranquilles-, Bio, 15ml <br/>
            {{prix}} DT TTC  <br/>
                     <li>Répulsive moustiques</li>       
                     <li>Apaisante (après moustiques)</li>
                    <li>Antiseptique</li>
    </p>
    <p *ngSwitchCase="'Ravintsara'">             <br/> <br/> <br/>

            <img src="../assets/ravintsara.jpg"  style="width:250px;height:250px;">
            SO'BIO Huile essentielle Ravintsara -Plante du bien-être , Bio, 15ml <br/>
            {{prix}} DT TTC  <br/>
            <li>antivirale,antibactérienne</li>
            <li>Aide à renforcer l'immunité</li>
            <li>Assainissante</li>
    </p>
    <p *ngSwitchCase="'Ylangylang'">             <br/> <br/> <br/>

            <img src="../assets/ylangylang.jpg"  style="width:250px;height:250px;">
            SO'BIO Huile essentielle Ylang-Ylang -Plante du bien-être , Bio, 15ml <br/>
            {{prix}} DT TTC       <br/>
                   Les fleurs d'Ylang-Ylang sont traditionellement reconnues par leurs vertus  <br/>
                   calmantes et aphrodisiaques.
    </p>
    
    
    <p *ngSwitchCase="'Bergamote'">            <br/> <br/> <br/>

       <img src="../assets/mandarine.jpg"  style="width:250px;height:250px;">
                            SO'BIO Huile essentielle bergamote Bio, 10ml <br/>
                            {{prix}} DT TTC  <br/>
                            <li>La bergamote est traditionellement reconnue pour ses vertus parfumantes et déstressantes</li>
                            <li>Anti-stress</li>

    
    </p>
    <p *ngSwitchCase="'Teatree'">             <br/> <br/> <br/>

            <img src="../assets/teatree.jpg"  style="width:250px;height:250px;">
            SO'BIO Huile essentielle Arbre à thé, Anti-bactérien, Bio, 10ml <br/>
            {{prix}} DT TTC  <br/>
                 Le tea tree,baptisé " arbre à thé " par james Cook, ou melaleuca est un bel arbre  <br/>
                 d'Australie. Les Aborigènes utilisent cette essence toujours pour ses  <br/>
                 vertus antibactériennes puissantes. <br/>
                 Son parfum est boisé et aromatique.

                    
                
    </p>
    <p *ngSwitchCase="'eucalyptus'">             <br/> <br/> <br/>

            <img src="../assets/eucalyptus.jpg"  style="width:250px;height:250px;">
            SO'BIO Huile essentielle eucalyptus, Anti-bactérien, Bio, 10ml <br/>
            {{prix}} DT TTC  <br/>
            <li>Décongestionant respiratoire</li>
            <li>Antimicrobien et antibactérien</li>
            <li>Expectorant</li>
                
    </p>

    <p *ngSwitchDefault> Erreur</p>
    </div>-->