<h1>Liste des huiles</h1>
<input type="text" name="text" [(ngModel)]="rech" placeholder="search">
<div>
<table *ngFor="let p of huiles | search:rech ;let i=index" >
  <tr>
    <td>
  <img [src]="p.image" width="50%" height="60%">
</td></tr>
<tr id="conteneur">
    <td>Nom: {{p.libelle}} <br/>
    L'id: {{p.id}} <br/>
     prix {{p.prix}}  DT <br/>
     La date de mise en vente : {{p.date | date:'fullDate'}}
     <ng-container *ngIf="check==false " >
     <p>{{solde}} </p>
    </ng-container>
</td></tr>
  <br/>
    <button class="btn btn-secondary"> <a [routerLink]="['/Article', p.libelle]" > Détail</a> </button>

          <button class="btn btn-secondary" (click)="onDelete(i)" > Supprimer </button>
          <button class="btn btn-secondary"> <a  [routerLink]="['/Modifier', p.id]" > Modifier l'article</a> </button>
        </table>



</div>

