<br/> 
<form [formGroup]="productForm" (ngSubmit)="onSubmitForm()">
    <h3>Ajout d'un produit</h3>

<div class="container">
    
    <div class="form-group" >
        <label for="id">
            Identifiant du produit
        </label>
        <input type="number" id="id" name="id"   class="form-control"  formControlName="id" >
    </div>
    <div *ngIf="idProduct.invalid && idProduct.dirty" class="alert alert-danger">
        L'identifiant est obligatoire
        </div>
    
    <div class="form-group">
        <label for="libelle">
             Libellé du produit
        </label>
        <input type="text" id="libelle" name="lib"
     class="form-control" formControlName="libelle">
        </div>

     
    

       <br/>   
 
    <button type="submit" class="btn btn-success"  >Enregistrer</button>
    <input type="reset" class="btn btn-danger" (click)="f.reset();submitted=false;" value="Vider"/>
    <div [hidden] ="!submitted">
        {{message}}
    </div>



</div>
</form>





